
.Rproj.user/shared/notebooks/paths
.DS_Store
.Rhistory
.Rproj.user/3975B55A/.DS_Store
*.pper
.Rproj.user/3975B55A/sources/prop/2A3A2ECD
.Rproj.user/3975B55A/sources/prop/CCEFD833
.Rproj.user/3975B55A/sources/prop/CEE7BEB1
.Rproj.user/3975B55A/sources/s-2C227BCB/493F45DD
.Rproj.user/3975B55A/sources/prop/INDEX
*.pper
.Rproj.user/3975B55A/sources/prop/A1B6B030
.Rproj.user/3975B55A/sources/s-2C227BCB/lock_file
.Rproj.user
